.pendu {
  display: flex;
  flex-wrap: wrap;
  width: 600px;
  margin: auto;
  user-select: none;
}

.pendu>.word {
  width: calc(100% - 0.4em);
  font-size: 3em;
  text-align: center;
  margin-bottom: 1rem;
  letter-spacing: 2px;
}

.pendu>.howToPlay{
  width: calc(100% - 0.4em);
  color:darkgray;
}

.pendu>.numberOfTries {
  width: calc(100% - 0.4em);
}

.pendu>.resetButton {
  width: calc(100% - 0.4em);
  text-align: right;
  cursor: pointer;
}

.pendu>.resetButton span {
  padding: 0.5em;
  border-radius: 1em;
  background-color: beige;
}